:root {
	--border-color: #cccccc;
	--btn-color: #ffffff;
	--del-color: #ff0000;
	--list-odd-color: #0000000a;
	--main-color: #263238;
	--modal-bg: rgba(0, 0, 0, 0.6);
	--modal-odd: #ffffff;
}

* {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	word-break: break-word;
	-webkit-tap-highlight-color: transparent;
}

body {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
}

.container {
	border: 1px solid var(--border-color);
	display: flex;
	flex-direction: column;
	height: calc(100vh - 40px);
	max-width: 400px;
	padding: 20px;
	row-gap: 10px;
	width: 100%;
}

.heading h1 {
	font-size: 29px;
}

.heading hr {
	background-image: linear-gradient(
			45deg,
			hsl(240deg 100% 20%) 0%,
			hsl(269deg 100% 21%) 5%,
			hsl(285deg 100% 21%) 10%,
			hsl(298deg 100% 21%) 14%,
			hsl(310deg 100% 25%) 19%,
			hsl(318deg 100% 29%) 24%,
			hsl(324deg 100% 32%) 29%,
			hsl(329deg 100% 36%) 33%,
			hsl(333deg 100% 39%) 38%,
			hsl(336deg 100% 42%) 43%,
			hsl(340deg 99% 45%) 48%,
			hsl(351deg 86% 55%) 52%,
			hsl(0deg 93% 61%) 57%,
			hsl(9deg 100% 61%) 62%,
			hsl(17deg 100% 59%) 67%,
			hsl(24deg 100% 57%) 71%,
			hsl(31deg 100% 54%) 76%,
			hsl(38deg 100% 50%) 81%,
			hsl(42deg 100% 50%) 86%,
			hsl(47deg 100% 50%) 90%,
			hsl(51deg 100% 50%) 95%,
			hsl(55deg 100% 50%) 100%
	);
	border: none;
	height: 4px;
	margin: 8px 0;
}

.input {
	display: flex;
}

.input .todo-taker {
	border: 1px solid var(--border-color);
	border-right-color: var(--main-color);
	font-size: 17px;
	padding: 0.7em;
	width: 100%;
}

.todo-taker:focus, .priority:focus {
	border: .5px solid var(--main-color);
	outline: none;
}

.input .priority {
	padding: .5rem;
	width: 40%;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	transition: 0.2s linear all;
}

.input .todo-btn {
	background: var(--main-color);
	border: 1px solid var(--main-color);
	width: 60px;
}

.todo-btn:active svg {
	transform: scale(1.3);
}

.list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 10px 0;
	min-height: 45px;
	overflow-x: hidden;
	overflow-y: auto;
	row-gap: 10px;
}

.list .empty {
	color: #aeaeae;
	font-size: 20px;
	height: 100%;
	padding-top: 40%;
	text-align: center;
}

.list-element {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-shrink: 0;
	height: 45px;
	justify-content: space-between;
	width: 100%;
}

.list-element[data-priority='low'] {
	background: hsl(95, 100%, 93%);
}

.list-element[data-priority='medium'] {
	background: hsl(56, 100%, 93%);
}

.list-element[data-priority='high'] {
	background: hsl(40, 100%, 93%);
}

.list-element p {
	font-size: 16px;
	overflow: hidden;
	padding: 0 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list-done {
	background: var(--del-color);
	flex-shrink: 0;
	height: 100%;
	width: 0;
}

.list-element:hover .list-done {
	width: 45px;
}

.list-done:active svg {
	transform: scale(0.85);
}

.clear-all .all {
	background: var(--main-color);
	border: 1px solid var(--main-color);
	color: var(--btn-color);
	float: right;
	font-size: 16px;
	padding: 10px 20px;
}

.all:hover {
	opacity: 0.8;
}

.all:active {
	transform: scale(1.1);
}

.list::-webkit-scrollbar,
.cont::-webkit-scrollbar {
	display: none;
}

.empty-todo {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

@media (max-width: 400px) {
	.container {
		border: none;
		height: 100vh;
		max-width: none;
	}
}
